---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #f2f2f2;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.page-content {
    background-color: #fbfcfd;
    min-height: 400px;

}
.photo {
      //border-radius: 50%;
      width: 80px;
}

figure.articleimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure.articleimg figcaption {
    font-size:.8em;
    line-height:1em;
    padding-top: 4px;
}
.badge {
    float: right;
    margin: 9.5px 20px 19px 10px;
    box-shadow: 2px 2px 2px 2px grey;
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
