<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact:</li>
          <li>
            <a title="Feel free to drop me a line" href="mailto:{{ site.email }}">
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              <span class="username">{{ site.email }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a target="_blank" title="Follow me on Github" href="https://www.github.com/amihaiemil">
              <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              <span class="username">amihaiemil</span>
            </a>
          </li>
          <li>
            <a target="_blank" title="Follow me on Twitter" href="https://www.twitter.com/amihaiemil">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="username">amihaiemil</span>
            </a>
          </li>
          <li>
            <a target="_blank" title="Check out my profile on AngelList" href="https://angel.co/mihai-andronache">
              <i class="fa fa-angellist" aria-hidden="true"></i>
              <span class="username">mihai-andronache</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
