<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">    <!-- Everything inside class "wrapper" so it is centered-->
        <!--The POST CONTENT goes here, as defined in the post.html Layout-->
        {{ content }}
        <!--HERE embed the tweet and remark if they exist-->
        {% if page.embeddedTweet and page.embeddedTweet != "" and page.embeddedTweet != nil %}
            <div class="centered">
                {{page.embeddedTweet}}
            </div>
        {% endif %}
      </div>
    </div>
    <script
      type="text/javascript"
      id="charlesscript"
      repo="amihaiemil/amihaiemil.github.io"
      placeholder="Enter keywords"
      src="https://www.amihaiemil.com/js/charles/charles.min.js">
    </script>
{% if page.comments %}
    <div class="wrapper centered">
          <p>
            Use <a href="https://help.disqus.com/customer/portal/articles/665057-syntax-highlighting">syntax highlighting</a> in your comments, to make them
            more readable.
          </p>
      </div>
<div class="wrapper" id="disqus_thread"></div>
    <script type="text/javascript">
        if(!document.location.hostname.includes("localhost")) {
          var disqus_shortname = 'amihaiemil';
          var disqus_identifier = "{{ page.url }}";

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        }
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
    {% include footer.html %}
    <script id="dsq-count-scr" src="//amihaiemil.disqus.com/count.js" async></script>
  </body>

</html>
