<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    {% if page.shareable%}
        <!-- facebook Javascript SDK-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- Twitter JavascriptSDK-->
        <script>
          window.twttr = (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
              t._e = [];
              t.ready = function(f) {
                  t._e.push(f);
              };
             return t;
          }(document, "script", "twitter-wjs"));
        </script>
    {% endif %}

    <div class="page-content">
      <div class="wrapper">    <!-- Everything inside class "wrapper" so it is centered-->
        <!--The POST CONTENT goes here, as defined in the post.html Layout-->
        {{ content }}
        <!--HERE embed the tweet and remark if they exist-->
        {% if page.embeddedTweet and page.embeddedTweet != "" and page.embeddedTweet != nil %}
            <div class="centered">
                {{page.embeddedTweet}}
            </div>
        {% endif %}
        <!-- If the POST is shareable, the div with share buttons appears right underneath-->
        {% if page.shareable%}
          <div class="share_buttons" style="vertical-align: top; line-height: 10px;">
            <span
              class="fb-share-button"
              data-href="{{page.url}}"
              data-layout="button_count"
              data-size="small"
              data-mobile-iframe="true">
              <a
               class="fb-xfbml-parse-ignore"
               target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}&amp;src=sdkpreparse">
               Share
              </a>
            </span>
            <span class="twitter">
              <a
                class="twitter-share-button"
                href="https://twitter.com/intent/tweet?text={{page.title}}, by @amihaiemil:  ">
                Tweet
              </a>
            </span>
            <span class="linkedin">
               <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
               <script type="IN/Share" data-url="{{page.url}}" data-counter="right"></script>
            </span>
            <span class="hackernews">
              <script src="//hnbutton.appspot.com/static/hn.min.js" async defer></script>
              <a href="http://news.ycombinator.com/submit" class="hn-share-button">Submit on HackerNews</a>
            </span>
            <br/><br/>
            <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
          </div>
        {% endif %}
      </div>
    </div>
    <script
      type="text/javascript"
      id="charlesscript"
      repo="amihaiemil/amihaiemil.github.io"
      placeholder="Enter keywords"
      src="https://www.amihaiemil.com/js/charles/charles.min.js">
    </script>
{% if page.comments %}
    <div class="wrapper centered">
          <p>
            Use <a href="https://help.disqus.com/customer/portal/articles/665057-syntax-highlighting">syntax highlighting</a> in your comments, to make them
            more readable.
          </p>
      </div>
<div class="wrapper" id="disqus_thread"></div>
    <script type="text/javascript">
        if(!document.location.hostname.includes("localhost")) {
          var disqus_shortname = 'amihaiemil';
          var disqus_identifier = "{{ page.url }}";

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        }
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
    {% include footer.html %}
    <script id="dsq-count-scr" src="//amihaiemil.disqus.com/count.js" async></script>
  </body>

</html>
