---
layout: postlayout
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {{ page.buttons }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • tags:
    {% for tag in page.tags %}
      <span class="post-meta">{{ tag }}</span>
    {% endfor %} • by {{ page.author }}{% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  {% if page.shareable%}
    <div class="share_buttons" style="vertical-align: top; line-height: 10px;">
      <span
          class="fb-share-button"
          data-href="{{page.url}}"
          data-layout="button_count"
          data-size="small"
          data-mobile-iframe="true">
          <a
            class="fb-xfbml-parse-ignore"
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}&amp;src=sdkpreparse">
            Share
          </a>
      </span>
      <span class="twitter">
          <a
              class="twitter-share-button"
              data-show-count="true"
              href="https://twitter.com/intent/tweet?text={{page.title}}, by @amihaiemil:

              ">
              Tweet
          </a>
      </span>
      <span class="linkedin">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
        <script type="IN/Share" data-url="{{page.url}}" data-counter="right"></script>
      </span>
      <br/><br/>
      <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
    </div>
  {% endif %}

</div>
